<h1>Билет</h1>
<div class="row">
  <div><%= @ticket.user_name %></div>
  <div><%= @ticket.user_passport %></div>
  <div><%= @ticket.train.number %></div>
  <div><%= @ticket.first_station.name %></div>
  <div><%= @ticket.end_station.name %></div>
</div>