<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Вагоны:</strong>
  <p>
    <ul><%  @sorted_cars.each do |car| %>
      <li><%= link_to car.number, car_path(car) %></li>
          <% end %>
    </ul>
  </p>
</p>
  <p>
  <% if @train.cars.present? %>
      <table border="1">
        <thead>
        <tr>
          <th colspan="2">Вагоны</th>
          <th colspan="2">Кол-во мест</th>
        </tr>
        <tr>
          <th>Купе</th>
          <th>Плацкарта</th>
          <th>Верхних</th>
          <th>Нижних</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= @train.cars.where(type: CoupeCar).count %></td>
          <td><%= @train.cars.where(type: EconomyCar).count %></td>
          <td><%= @train.seats_count(:top_seats) %></td>
          <td><%= @train.seats_count(:bottom_seats) %></td>
        </tr>
        </tbody>
      </table>
  <% else %>
    У поезда нет вагонов
  <% end %>
</p>
<p>
  <strong>На станции</strong>
  <% if @train.current_station.present? %>
      <%= @train.current_station.name %>
  <% else %>
     Не указано
  <% end %>
</p>
<p>
  <strong>Маршрут</strong>
  <% if @train.route.present? %>
      <%= @train.route.name %>
  <% else %>
      Маршрут не назначен
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
