<%= form_for @car.becomes(Car) do |f| %>
    <%= render 'common/errors', resource: @car %>
    <div class="field">
      <%= f.label :train, 'Номер поезда'%>
      <%= f.collection_select :train_id, Train.all, :id, :number %>
    </div>

    <div class="field">
      <%= f.label :type, 'Тип вагона' %>
      <%= f.select :type, options_for_select([['Купейный', CoupeCar], ['Плацкартный', EconomyCar], ['Сидячий', SeatedCar], ['СВ', SVCar ]]) %>
    </div>

    <div class="field">
      <%= f.label :top_seats, 'Верхние сидения'%>
      <%= f.text_field :top_seats %>
    </div>
    <div class="field">
      <%= f.label :bottom_seats, 'Нижние сидения' %>
      <%= f.text_field :bottom_seats %>
    </div>

    <div class="actions">
      <%= f.submit 'Создать' %>
    </div>
<% end %>
<%= link_to 'Назад', cars_path %>