<div><%= link_to 'Создать новый вагон', new_car_path %></div>
<table>
  <thead>
  <tr>
    <th>Номер поезда</th>
    <th>Тип вагона</th>
    <th>Верхние сидения</th>
    <th>Нижние сидения</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
        <tr>
          <td><%= car.train.number %></td>
          <td><%= car.car_type %></td>
          <td><%= car.top_seats %></td>
          <td><%= car.bottom_seats %></td>
          <td><%= link_to 'Редактировать', edit_car_path(car) %></td>
          <td><%= link_to 'Удалить', "/cars/#{car.id}", method: 'delete' %></td>
        </tr>
    <% end %>
  </tbody>
</table>

