<!DOCTYPE html>
<html>
  <head>
    <title>Traintickets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <div>
    <p>(с) 2017 Инна Калинкина. Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://www.thinknetica.com', target: "_blank" %></p>
  </div>

</html>
